@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {

}

.header__slider{
    &-item {
        height: 100vh;
        background-image: url(../img/header-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
    }
}

.slider-item__info {
    position: absolute;
    right: 80px;
    bottom: 116px;
    text-align: right;
    color: #fff;
    text-transform: uppercase;
}

.slider-item__info-suptitle {
    margin-bottom: 5px;
}

.slider-item__info-suptext {
    margin-bottom: 8px;
}

.slider-item__info-title {
    font-weight: 800;
    font-size: 80px;
    line-height: 86px;
    margin-bottom: 48px;
}

.slider-item__info-text {
    font-weight: 800;
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 20px;
}

@import "media";
